body
{
    background-image: none;
}
#footer
{
    background-color: #012840;
}
#cover-photo
{
    display: block;
    width: 982px;
    height: 240px;
    float:left;
    background-color: #fff;
}
#cover-photo img
{
    display: block;
    width: 982px;
    height: 240px;
    float:left;
}
#user-box
{
    display: block;
    _display: inline;
    width: 954px;
    height: 88px;
    float:left;
    margin-left: 14px;
}
#user-data
{
    display: block;
    _display: inline;
    width: 954px;
    height: 44px;
    float:right;
}
#user-data div.left
{
    display: block;
    width: 7px;
    height: 44px;
    float:left; 
    background-image: url("images/user-box-left.png");
    background-repeat:no-repeat;
}
#user-data div.right
{
    display: block;
    width: 7px;
    height: 44px;
    float:left; 
    background-image: url("images/user-box-right.png");
    background-repeat:no-repeat;
}
#user-data div.middle
{
    position: relative;
    display: block;
    width: 940px;
    height: 44px;
    float:left; 
    background-image: url("images/user-box-bg.jpg");
    background-repeat: repeat-x;
}
#user-photo
{
    position: absolute;
    display: block;
    _display: inline;
    width: 148px;
    height: 168px;
    top:-66px;
    left: 786px;
    background-image: url("images/user-photo.png");
    background-repeat:no-repeat;
    z-index: 1;
}
#user-photo img
{
    width: 136px;
    height: 158px;
    float: left;
    margin-top: 5px;
    margin-left: 6px;
}
#user-info
{
    display: block;
    _display: inline;
    width: 778px;
    height: 44px;
    float: left;
    margin-right: 0px;
    margin-left: 8px;
}
#user-info p
{
    line-height: 44px;
    font-size: 1.0em;
    font-weight: bold;
}
#user-info p span.info-type
{
    margin-left: 0px;
    margin-right: 8px;
}
#user-info p span.info-data
{
    border-left: 1px solid #000;
    padding-left:10px;
}
#user-info p span.info-data:last-child
{
    border-left: none;
    padding-left:0;
}
#user-control
{
    display: block;
    _display: inline;
    height: 41px;
    float:right;
    margin-left: 0px;
    margin-right: 160px;
}
#user-control div.left
{
    display: block;
    _display: inline;
    height: 41px;
    float:right;
    background-color: #012840;
}
#user-control div.right
{
    display: block;
    _display: inline;
    width: 7px;
    height: 41px;
    float:left;
    background-image: url("images/user-control-left.jpg");
    background-repeat:no-repeat;
}
#notifications
{
    display: none;
    _display: inline;
    width: 156px;
    height: 41px;
    float:right;
}
#notifications >ul
{
    display: block;
    _display: inline;
    width: 156px;
    height: 41px;
    float:right;
}
#notifications >ul >li
{
    display: block;
    _display: inline;
    position: relative;
    width: 36px;
    height: 41px;
    float: right;
    margin-left: 0px;
    margin-right: 12px;
}
#notifications ul li.notify
{
    background-image: url("images/notify-bg-disabled.jpg");
    background-repeat:no-repeat;
}
#notifications ul li.info
{
    background-image: url("images/info-bg-disabled.jpg");
    background-repeat:no-repeat;
}
#notifications ul li.message
{
    background-image: url("images/message-bg-disabled.jpg");
    background-repeat:no-repeat;
}
#notifications ul li.notify:hover
{
    background-image: url("images/notify-bg.jpg");
    background-repeat:no-repeat;
}
#notifications ul li.info:hover
{
    background-image: url("images/info-bg.jpg");
    background-repeat:no-repeat;
}
#notifications ul li.message:hover
{
    background-image: url("images/message-bg.jpg");
    background-repeat:no-repeat;
}
#notifications >ul >li >ul
{
    display: none;
}
#notifications >ul >li >ul
{
    position: absolute;
    top: 41px;
    left:-178px;
    border: 1px solid #bdbdbd;
    border-top: none;
    min-width: 200px;
    width:auto !important;/* new browsers */
    width: 200px;/* IE6: treaded as min-height */
}
#notifications >ul >li >ul >li:last-child
{
    text-align: center;
    padding-left: 0px;
    color:#035a90;
    font-weight: bold;
    font-size: 1.0em;
    background-color: #f5f5f5;
    width: 100%;
}
#notifications >ul >li ul
{
    min-width: 200px;
    width:auto !important;/* new browsers */
    width: 200px;/* IE6: treaded as min-height */
    min-height: 40px;
    height:auto !important;/* new browsers */
    height: 40px;/* IE6: treaded as min-height */
    background-color: #fff;
    float: right;
}
#notifications >ul >li ul li
{
    min-width: 200px;
    width:auto !important;/* new browsers */
    width: 200px;/* IE6: treaded as min-height */
    min-height: 40px;
    height:auto !important;/* new browsers */
    height: 40px;/* IE6: treaded as min-height */
    background-color: #fff;
    float: right;
    border-bottom: 1px solid #bdbdbd;
    line-height: 40px;
}
#notifications >ul >li >ul >li >ul >li
{
    min-width: 200px;
    width:auto !important;/* new browsers */
    width: 200px;/* IE6: treaded as min-height */
    color:#000;
}
#notifications >ul >li >ul >li >ul
{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 200px;
    height:auto !important;/* new browsers */
    height: 200px;/* IE6: treaded as min-height */
}
#notifications >ul >li >ul >li >ul >li:hover
{
    background-color: #f3f3f3;
}
#notifications >ul >li ul li a
{
    display: block;
    text-decoration: none;
    color:inherit;
    height: 40px;
    height:auto !important;/* new browsers */
    height: 40px;/* IE6: treaded as min-height */
    min-width: 190px;
    width:auto !important;/* new browsers */
    width: 190px;/* IE6: treaded as min-height */
    float: right;
    padding-left: 0px;
    padding-right: 10px;
}
#notifications >ul >li:hover >ul
{
    display: block;
    _display: inline;
}
#notifications ul li.unread
{
    background-color: #e8e8e8;
}
#logout
{
    display: block;
    _display: inline;
    width: 97px;
    height: 41px;
    float:right;
    background-image: url("images/logout.jpg");
    background-repeat:no-repeat;
    background-position: 60px 5px;
}
#logout a
{
    display: block;
    _display: inline;
    width: 48px;
    height: 41px;
    float:right;
    text-decoration: none;
    color:#fff;
    line-height: 41px;
    font-size: 1.2em;
    background-position: 0px 4px; 
    padding-right: 0px;
    padding-left: 0px;
    border-left: none;
    border-right: 1px solid #fff;
    padding-right: 48px;
    direction: rtl;
}
#print
{
    display: block;
    _display: inline;
    width: 88px;
    height: 41px;
    float:left;
    margin-right: 0px;
    margin-left: 14px;
}
#print div.left
{
    display: block;
    _display: inline;
    width: 7px;
    height: 41px;
    float:left;
    background-image: url("images/user-control-left.jpg");
    background-repeat:no-repeat;
}
#print div.right
{
    display: block;
    _display: inline;
    width: 7px;
    height: 41px;
    float:left;
    background-image: url("images/user-control-right.jpg");
    background-repeat:no-repeat;
}
#print div.middle
{
    display: block;
    _display: inline;
    width: 74px;
    height: 41px;
    float:left;
    background-color: #012840;
}
#print div.middle a
{
    display: block;
    _display: inline;
    width: 74px;
    height: 41px;
    float:right;
    background-image: url("images/print.jpg");
    background-repeat:no-repeat;
    text-decoration: none;
    color:#fff;
    line-height: 41px;
    font-size: 1.2em;
    padding-left: 0px;
    background-position: left;
}
#print div.middle a.logout
{
    background-image: url("images/logout.jpg");
    background-repeat:no-repeat;
}
#content-box
{
    display: block;
    _display: inline;
    width: 940px;
    min-height: 300px;
    height:auto !important;/* new browsers */
    height: 300px;/* IE6: treaded as min-height */
    float:right;
    margin-left: 0px;
    margin-right: 27px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#right-menu
{
    display: block;
    _display: inline;
    width: 150px;
    min-height: 300px;
    height:auto !important;/* new browsers */
    height: 300px;/* IE6: treaded as min-height */
    float:right;
    font-size:94%;
    font-weight:bold;
    text-align:right;
}
#right-menu ul
{
    direction: rtl;
}
#right-menu >ul
{
    display: block;
    width: 150px;
    min-height: 34px;
    height:auto !important;/* new browsers */
    height: 34px;/* IE6: treaded as min-height */
    float:right;
    background-color: #012840;
    border-bottom: 2px solid #fff;
    text-align:right;
}
#right-menu >ul >li
{
    display: block;
    width: 150px;
    min-height: 34px;
    height:auto !important;/* new browsers */
    height: 34px;/* IE6: treaded as min-height */
    float:right;
    line-height: 34px;
    color:#fff;
    font-weight: bold;
    line-height: 35px;
    text-align:right;
    text-indent:30px;
}
#right-menu >ul >li >ul
{
    display: block;
    width: 150px;
    min-height: 34px;
    height:auto !important;/* new browsers */
    height: 34px;/* IE6: treaded as min-height */
    float:right;
}
#right-menu >ul >li >ul >li
{
    display: block;
    position: relative;
    width: 150px;
    height: 34px;
    float:right;
    line-height: 34px;
    color:#fff;
    font-weight: bold;
    background-color: #035a90;
    text-indent: 6px;
}
#right-menu li
{
    border-top: 1px solid #fff;
}
#right-menu >ul >li >ul >li >ul
{
    display: none;
    border-left: 1px solid #fff;
}
#right-menu >ul >li >ul >li:hover >ul
{
    display: table;
    _display: inline;  
}
#right-menu >ul >li >ul >li:hover
{
    background-color: #b2b010;
}
#right-menu >ul >li >ul >li >ul
{
    position: relative;
    float:right;
    top: 0px;
    right:151px;
    min-height: 34px;
    height:auto !important;/* new browsers */
    height: 34px;/* IE6: treaded as min-height */
    background-color:#b2b010;
    margin-top:-34px;
}
#right-menu >ul >li >ul >li >ul >li
{
    display:table-row;
    color:#fff;
    font-weight: bold;
    text-indent: 6px;
    background-color: #b2b010;
    border-bottom: 1px solid #000;
    float:right;
}
#right-menu >ul >li >ul >li >ul >li:hover
{
    background-color: #012840;
}
#right-menu > ul > li > ul > li > ul 
{
    top: -1px;
    left: 0px;
}
#right-menu li.user
{
    background-image: url("images/right-menu-user-rtl.jpg");
    background-repeat:no-repeat;
}
#right-menu li.accounts
{
    background-image: url("images/accounts-bg.jpg");
    background-repeat:no-repeat;
    background-position: 122px 0px;
}
#right-menu li.results
{
    background-image: url("images/results-bg.jpg");
    background-repeat:no-repeat;
    background-position: 122px 0px;
}
#right-menu li.library
{
    background-image: url("images/library-bg.jpg");
    background-repeat:no-repeat;
    background-position: 122px 0px;
}
#right-menu li.last
{
    background-image: url("images/right-menu-last.jpg");
    background-repeat:no-repeat;
}
#right-menu li a
{   
    display:table-row;
    float:right;
    color:inherit;
    text-decoration:none;
    text-wrap:none;
    white-space: nowrap;
    text-indent:6px;
}
#page-box
{
    display: block;
    _display:inline;
    width: 776px;
    min-height: 100px;
    height:auto !important;/* new browsers */
    height: 100px;/* IE6: treaded as min-height */
    float: left;
    margin-left: 0px;
}
#page-header
{
    display: block;
    width: 776px;
    min-height:35px;
    float: left;
}
#page-header div.left
{
    display: block;
    width: 6px;
    min-height:35px;
    float: left;
    background-image: url("images/page-box-title-left.png");
    background-repeat:no-repeat;
}
#page-header div.middle
{
    display: block;
    width: 764px;
    min-height:35px;
    float: left;
    background-color: #b2b010;
}
#page-header div.right
{
    display: block;
    width: 6px;
    min-height:35px;
    float: left;
    background-image: url("images/page-box-title-right.png");
    background-repeat:no-repeat;
}
#page-title
{
    display: block;
    width: 732px;
    min-height:35px;
    float: right;
    line-height: 35px;
    font-size: 1.0em;
    font-weight: bold;
    padding-right: 32px;
    padding-left: 4px;
    background-position: right;
    color: #fff;
}
#page-title.accounts
{
    background-image: url("images/accounts-page-bg.jpg");
    background-repeat:no-repeat;
}
#page-title.user-info
{
    background-image: url("images/info-page-bg.jpg");
    background-repeat:no-repeat;
}
#page-title.results
{
    background-image: url("images/results-page-bg.jpg");
    background-repeat:no-repeat;
}
#page-title.library
{
    background-image: url("images/library-page-bg.jpg");
    background-repeat:no-repeat;
}
#page-title p
{
    float:right;
}
#update-status
{
    display: block;
    width: 186px;
    float: left;
    line-height: 35px;
    font-size: 1.0em;
    font-weight: bold;
    padding-left: 0px;
    background-position: right;
    padding-right: 32px;
    color: #fff;
    background-image: url("images/update-status-bg.jpg");
    background-repeat:no-repeat;
}
#page-content
{
    display: block;
    width: 774px;
    min-height: 100px;
    height:auto !important;/* new browsers */
    height: 100px;/* IE6: treaded as min-height */
    background-color: #fff;
    float: left;
    border: 1px solid #bdbdbd;
    border-top: none;
}
#page-content table
{
    display: table;
    width: 100%;
}
#page-content table th,td
{
    text-align: center;
    vertical-align: middle;
    border-right: none;
    border-left: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    font-size: 1.0em;
}
#page-content table th:last-child,#page-content table td:last-child
{
    border-right:none;
}
#page-content table th
{
    background-color: #012840;
    color:#fff;
    padding-top:8px;
    padding-bottom:8px;
    vertical-align:middle;
}
#page-content table tr td
{
    background-color: #e8e8e8;
    padding-top:8px;
    padding-bottom:8px;
}
#page-content table tr.odd td
{
    background-color: #fff;
}
#page-content table.user-info th
{
    width:20%;
}
#page-content table.user-info td
{
   text-align:right;
   font-size:1.1em;
   padding-left:0;
   padding-right:20px;
   background-color: #fff;
}
b.tablesaw-cell-label
{
    display:block;
    float:right;
    text-align:right;
    padding-left:100px;
    border-left:1px dotted #000;
    padding:0;
    margin:0;
}
span.tablesaw-cell-content
{
    display:block;
    float:right;
    margin-right:10px;
}
#changePasswordForm
{
    display: block;
    min-width: 100px;
    width:auto !important;
    width: 100px;
    min-height: 160px;
    height:auto !important;
    height: 160px;
    float: left;
    float:right;
    background-image:url("images/password_change.png");
    background-repeat:no-repeat;
    background-position:right;
    padding-right:134px;
    margin-top: 20px;
    margin-right:10px;
    margin-bottom:10px;
}
#changePasswordForm ul
{
    width: 244px;
    min-height: 160px;
    height:auto !important;
    height: 160px;
}
#changePasswordForm ul li
{
    width: 244px;
    height: 38px;
    float: left;
    margin-bottom: 12px;
    background-image: url("images/input_bg.png");
    background-repeat:no-repeat;
}
#changePasswordForm ul li:last-child
{
    background-image: none;
}
#changePasswordForm input
{
    display: block;
    _display: inline;
    width: 230px;
    height: 28px;
    border:none;
    float: left;
    color: #012840;
    margin-left: 7px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1em;
}
#changePasswordForm input.button
{
    float: left;
    display: block;
    width: 75px;
    height: 38px;
    background-image: url("images/button_bg.png");
    background-repeat:no-repeat;
    border:none;
    color:#fff;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    line-height: 38px;
    margin:0px;
}
#changePasswordForm input.button:hover
{
    background-position: 0px -38px;
}
#changePasswordForm li p
{
    display: block;
    _display: inline;
    width: 230px;
    height: 28px;
    border:none;
    float: left;
    color: #012840;
    margin-left: 7px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1em;
    text-align:center;
}

#XlAdminUserEditor
{
    display: block;
    min-width: 100px;
    width:auto !important;
    width: 100px;
    min-height: 160px;
    height:auto !important;
    height: 160px;
    float: left;
    float:right;
    margin-top: 20px;
    margin-right:10px;
    margin-bottom:10px;
}
#XlAdminUserEditor ul
{
    width: 244px;
    min-height: 160px;
    height:auto !important;
    height: 160px;
}
#XlAdminUserEditor ul li
{
    width: 244px;
    height: 38px;
    float: left;
    margin-bottom: 12px;
    background-image: url("images/input_bg.png");
    background-repeat:no-repeat;
}
#XlAdminUserEditor ul li:last-child
{
    background-image: none;
}
#XlAdminUserEditor input
{
    display: block;
    _display: inline;
    width: 230px;
    height: 28px;
    border:none;
    float: left;
    color: #012840;
    margin-left: 7px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1em;
}
#XlAdminUserEditor select
{
    display: block;
    _display: inline;
    width: 230px;
    height: 28px;
    border:none;
    float: left;
    color: #012840;
    margin-left: 7px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1em;
}
#XlAdminUserEditor input.button
{
    float: left;
    display: block;
    width: 75px;
    height: 38px;
    background-image: url("images/button_bg.png");
    background-repeat:no-repeat;
    border:none;
    color:#fff;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    line-height: 38px;
    margin:0px;
}
#XlAdminUserEditor input.button:hover
{
    background-position: 0px -38px;
}
#XlAdminUserEditor li p
{
    display: block;
    _display: inline;
    width: 230px;
    height: 28px;
    border:none;
    float: left;
    color: #012840;
    margin-left: 7px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1em;
    text-align:center;
}

h2.blocked
{
    font-size:1.0em;
    height:48px;
    width:90%;
    font-weight:bold;
    text-indent:60px;
    color:red;
    background-image:url("images/locked_bg.jpg");
    background-repeat:no-repeat;
    background-position:right;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
    line-height:48px;
}

#search-box
{
    display: block;
    width: 774px;
    min-height: 50px;
    height:auto !important;/* new browsers */
    height: 50px;/* IE6: treaded as min-height */
    float: left;
    background-image:url("images/library_bg.jpg");
    background-repeat:no-repeat;
    background-position:287px 20px;
    padding-top:240px;
    margin-bottom:10px;
}
#search-box form,#search-box fieldset,#search-box fieldset ul
{
    display: block;
    width: 774px;
    min-height: 20px;
    height:auto !important;/* new browsers */
    height: 20px;/* IE6: treaded as min-height */
    float: left;
}
#search-box fieldset ul li
{
    display: block;
    width: 631px;
    min-height: 30px;
    height:auto !important;/* new browsers */
    height: 30px;/* IE6: treaded as min-height */
    float: right;
    margin-right:137px;
    margin-top:4px;
    font-weight:bold;
}
#search-keyword
{
    display:block;
    width: 250px;
    height:38px;
    height:auto !important;/* new browsers */
    float:right;
    line-height:38px;
    border: 1px solid #000;
    margin-right:10px;
    padding-left:10px;
    padding-right:10px;
}
#search-type
{
    display:block;
    width: 110px;
    height:38px;
    float:right;
    line-height:38px;
    margin-right:10px;
    border: 1px solid #000;
}
#search-box input.button 
{
    display:block;
    width: 78px;
    height: 38px;
    float:right;
    line-height:38px;
    margin-right:10px;    
    background-image: url("images/button_bg.png");
    background-repeat:no-repeat;
    border:none;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}
#result-box
{
    display: block;
    width: 774px;
    min-height: 10px;
    height:auto !important;/* new browsers */
    height: 10px;/* IE6: treaded as min-height */
    float: left;
}
#user-info p span.separator
{
    margin-right:5px;
    margin-left:5px;
    border-right:1px solid #012840;
}
p.restricted
{
    font-size:1em;
    font-weight:bold;
    color:red;
    padding:10px;
}
p.restricted:hover
{
    font-size:1.3em;
    cursor:no-drop;
}